.paint--debug__overlay {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  font-family: monospace;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 9999;
}

/* html:not(.dev) .paint--debug__overlay {
  display: none;
} */
