.paint-c-main-canvas {
  cursor: pointer;

  border: 1px solid #000;
  border-radius: 0.3rem;
  background-color: #f5f5f7;

  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

  transition: box-shadow 0.3s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}
