@import "../debug/overlay.css";
@import "./styles/canvas.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
ul {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  overflow: hidden;
  height: 100vh;
}
