@import "./debug/overlay.css";
@import "./styles/canvas.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  height: 100vh;
  font-weight: 700;
  background-color: #e5e5e7;
}

body,
ul {
  margin: 0;
  padding: 0;
}

:root {
  overflow: hidden;
  height: 100vh;
  color: #1a1a1a;
}
